<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oasis.demo2.dao.AccountMapper">
    <resultMap id="BaseResultMap" type="com.oasis.demo2.domain.entity.AccountEntity">
        <id column="account_id" jdbcType="INTEGER" property="accountId"/>
        <result column="account_name" jdbcType="VARCHAR" property="accountName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="address_id" jdbcType="INTEGER" property="addressId"/>
    </resultMap>

    <resultMap id="MultiResultMap" type="com.oasis.demo2.domain.entity.AccountEntity" extends="BaseResultMap">
        <association property="address" column="address_id" select="com.oasis.demo2.dao.AddressMapper.selectById"/>
    </resultMap>

    <sql id="Base_Column_List">
        account_id, account_name, password, address_id
    </sql>

    <select id="selectLinkById" parameterType="int" resultMap="MultiResultMap">
        select
        <include refid="Base_Column_List"/>
        from account
        where account_id = #{id}
    </select>

    <select id="findByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from account
        where account_name like CONCAT('%', #{name}, '%')
    </select>

    <select id="selectByAddressId" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from account
        where address_id = #{id}
    </select>
</mapper>
